name: Super-Linter

on: push

jobs:
  eslint:
    name: Lint code base
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x]

    steps:

      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

        run: make install

        env:
          CI: true
          
        run: make lint